body {
	background: #fff;
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 16px;
	margin: 0 auto;
	width: 88%;
	max-width: 960px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	text-decoration: underline;
}

h3 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 24px;
	margin-top: .6em;
	margin-bottom: .3em;
	
}

h4 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 18px;
	margin-top: .3em;
	margin-bottom: .3em;
}


/*Layout-------------------------------------------------------------------------*/

header,
.section
footer {
	margin: 0 auto;
	max-width: 960px;
}

.social li {
	list-style: none;
	float: left;
	margin-right: .1em;
}

.social a {
    display: block;
    width: 40px;
}

.social img {
	width: 35px;
}

.section {
	margin: 2px auto;
}

.work li {	
	list-style: none;
	float: left;
	align: center;
	margin: 1.5em;
}

.work a {
    display: block;
}

.work img {
	border-radius: 50%;

}

.work li a p {
  margin: 0;
  padding: 1%;
  font-size: 0.75em;
}


/* Misc.
-----------------------------------------------------*/

.clearfix:after {
	content:".";
	display:block;
	height: 0;
	clear:both;
	visibility:hidden;
}
