//  Variables

$color-link: #bbb;
$color-link-hover: #F45B69;

$color-background: #114B5F;
$color-background-container: #028090;

$container-width: 960px;

// Breakpoints

$breakpoint-3:                48em; // 768px / 16px
$breakpoint-2:                36em; // 576px / 16px
$breakpoint-1:                24em; // 384px / 16px